<!DOCTYPE html>
<html lang="en">
%include('head', title="Access denied")
%include("comp-renew-session")

<body class="text-white bg-black">
    <section
        class="flex [&>article]:w-full h-screen [&>article]:flex [&>article]:flex-col [&>article]:justify-center px-6">
        <article class="items-center">
            <a href="/"><img src="../assets/logo.svg" class="w-full h-full" alt="" /></a>
        </article>
        <article>
            <p class="font-bold">TaskTracker</p>
            <h1 class="text-h1">Access Denied</h1>

        </article>
    </section>
    <section class="w-full h-screen bg-primary flex justify-center items-center">

    </section>
</body>

</html>