<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/output.css" />

    <title>TaskTracker</title>
  </head>

  <body class="text-white bg-black">
    <section
      class="flex [&>article]:w-full h-screen [&>article]:flex [&>article]:flex-col [&>article]:justify-center px-6"
    >
      <article class="items-center">
        <a href="/"
          ><img src="../assets/logo.svg" class="w-full h-full" alt=""
        /></a>
      </article>
      <article>
        <p class="font-bold">TaskTracker</p>
        <h1 class="text-h1">Turning chaos into order, one task at a time.</h1>
        <div class="grid mt-6 w-fit">
          <div
            class="[&>a]:border [&>a]:border-white [&>a]:rounded-xl [&>a]:px-4 [&>a]:py-2"
          >
            <a href="/sign-up" class="text-black bg-primary hover:bg-secondary"
              >Create an account</a
            >
            <a
              href="/login"
              class="transition duration-300 ease-in-out hover:bg-primary hover:text-black"
              >Log in</a
            >
          </div>
          <a
            href="#"
            class="mt-2 ml-auto italic transition ease-in-out w-fit text-detail hover:underline"
            >Or continue as a <span class="underline">guest</span></a
          >
        </div>
      </article>
    </section>
  </body>
</html>
