<!DOCTYPE html>
<html lang="en">
%include('head', title="Login, TaskTracker")

<body class="bg-black text-white">
    %include('comp_feedback')
    <section
        class="flex [&>article]:w-full h-screen [&>article]:flex [&>article]:flex-col [&>article]:justify-center px-6">
        <article class="items-center">
            <a href="/">
                <img src="../assets/logo.svg" class="w-full h-full" alt="">
            </a>
        </article>
        <article class="bg-black justify-self-start justify-start  rounded-xl flex w-fit">
            <p class="font-bold">TaskTracker</p>

            <h1 class="text-h1 mb-6">Log In to your account.</h1>

            <form class="flex flex-col max-w-md " onsubmit=" login(); return false">

                <label for="user_email">Email</label>
                <input id="user_email" class=" h-10 rounded-2xl pl-2 w-full  text-white bg-black border border-white/30"
                    placeholder="Email" name="user_email" type="email" required>

                <label for="user_password ">Password</label>
                <input id="user_password"
                    class=" h-10 rounded-2xl pl-2 w-full  text-white bg-black border border-white/30"
                    placeholder="Password" name="user_password" type="password" required>

                <div class="flex">


                    <div class="flex flex-col gap-0.5 justify-start mb-4">
                        <div class="inline-flex">
                            <p class="text-detail">Forgot password?</p>&nbsp;
                            <p id="bottomResetPassword" onclick="showResetPassword()"
                                class="text-white hover:underline cursor-pointer">
                                Reset password</p>
                        </div>
                        <input id="passwordInput"
                            class="hidden login-enter rounded-md bg-transparent invalid:border-[#F4212E] text-white text-17 placeholder-twitter-grey outline-none group border border-twitter-line focus:border-twitter-blue py-4 p-2 mt-4 w-80"
                            type="password" placeholder="New password">
                        <input id="emailInput"
                            class="hidden login-enter rounded-md bg-transparent invalid:border-[#F4212E] text-white text-17 placeholder-twitter-grey outline-none group border border-twitter-line focus:border-twitter-blue py-4 p-2 mt-4 w-80"
                            type="email" placeholder="Email">
                        <button id="resetEmailButton" onclick="resetPassword()"
                            class="hidden bg-detail text-white rounded-full px-6 py-2 font-semibold w-80 mt-4 hover:bg-opacity-90"
                            type="submit">Send reset email</button>
                    </div>
                    <button
                        class="bg-secondary text-black max-w-fit ml-auto px-4 py-2 text-center rounded-2xl mt-4 h-fit">Login</button>

                </div>
            </form>

        </article>

    </section>
</body>
<script src="/js/login.js"></script>
<script src="/js/reset-password.js"></script>

</html>