<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/output.css" />
  <title>{{title}}</title>
</head>

<body class="text-white bg-black">
  %include('comp_feedback')
  <section
    class="flex [&>article]:w-full h-screen [&>article]:flex [&>article]:flex-col [&>article]:justify-center px-6">
    <article class="items-center">
      <a href="/"><img src="../assets/logo.svg" class="w-full h-full" alt="" /></a>
    </article>
    <article>
      <p class="font-bold">TaskTracker</p>
      <h1 class="text-h1">{{status}}</h1>
      <div class="grid mt-6 w-fit">
        <div class="[&>a]:border [&>a]:border-white [&>a]:rounded-xl [&>a]:px-4 [&>a]:py-2">

          <div class="bg-detail w-full h-fit p-8  rounded-lg">
            <p class="">{{p1}} <span onclick="revealEmailInput()"
                class="italic underline cursor-pointer">{{link}}</span></p>
            <p class="my-4">{{p2}}</p>

            <div class="w-fit h-fit">
              <a href="/login"
                class="px-2 py-2 border border-primary  hover:bg-black hover:text-white hover:rounded-lg ease-in-out transition">
                Go to login
              </a>
              %if not status == "Congratulations!":
              <button form="resend-email-form" type="submit"
                class="reveal px-2 py-2 border border-primary  hover:bg-black hover:text-white hover:rounded-lg ease-in-out transition ml-6 hidden cursor-pointer">
                Resend email
              </button>
              <form id="resend-email-form" onsubmit="resendEmailAsync(); return false"
                class="flex flex-col mt-4 reveal hidden transition ease-in-out">
                <p class="italic font-bold">Put in the email you used in the sign up</p>
                <label for="resendEmail">Email</label>
                <input type="email" name="resendEmail" id="resendEmail" class="rounded-sm text-black">
              </form>
            </div>

            %end

          </div>
        </div>
    </article>
  </section>
  <section class="w-full h-screen bg-primary flex justify-center items-center">

  </section>
</body>

</html>
<article class="bg-white w-1/3 h-fit p-8  rounded-lg">
  <p class=""><strong>Congratulations!</strong> Your account has been successfully verified. You can now access all
    the
    features of our
    platform.</p>
  <p class="mt-4">Note: To ensure the security of your account, please log in using your credentials. Close this tab
    or use the
    following link</p>

  <button
    class="px-2 py-2 border border-primary mt-4 hover:bg-black hover:text-white hover:rounded-lg ease-in-out transition"
    href="/login">
    Go to login
  </button>


</article>
<script src="../js/resendEmail.js"></script>